@page "/cart"
@inject ICartService cartService;

<PageTitle>Shopping Cart</PageTitle>

<h3>Shopping Cart</h3>

@if (cartProducts==null || cartProducts.Count==0)
{
    <span>@message</span>
    
}

else
{
    <div>
        @foreach (var product in cartProducts)
       {
         <div class="container" >
             <div class="image-wrapper">
                 <img src="@product.ImageUrl" class="image"/>
             </div>
             <div class="name">
                 <h5><a href="/product/@product.ProductId">@product.ProductName</a></h5><br/>
                 <input type="number" value="@product.Quantity" @onchange="@((ChangeEventArgs e) =>  UpdateQuantity(e,product))" class="form-control input-quantity" min="1" />
                 <button class="btn-delete" @onclick="@(() => RemoveProductFromCart(product.ProductId))">Delete</button>
             </div>
             <div class="cart-product-price">$@(product.Price * product.Quantity)</div>
             </div> 
       }

       <div class="cart-product-price">
           Total (@cartProducts.Count): $@cartProducts.Sum(product => product.Price * product.Quantity)
       </div>
    </div>
}

@code {
    List<CartProduct> cartProducts = null;
    string message = "Loading cart...";

    protected override async Task OnInitializedAsync()
    {
        await LoadCart();
    }

    private async Task RemoveProductFromCart(int productId)
    {
        await cartService.RemoveProductFromCart(productId);
        await LoadCart();
    }

    private async Task LoadCart()
    {
        if ((await cartService.GetCartItems()).Count == 0)
        {
            message = "Your cart is empty.";
            cartProducts = new List<CartProduct>();
        }
        else
        {
            cartProducts = await cartService.GetCartProducts();
        }
    }

    private async Task UpdateQuantity(ChangeEventArgs e,CartProduct product)
    {
        product.Quantity = int.Parse(e.Value.ToString());
        if(product.Quantity<1) { product.Quantity = 1; }
        await cartService.UpdateQuantity(product);
    }
}
